<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61702134116-cjv2ucc99us429i23r97vpl35lrm47tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61702134116-cjv2ucc99us429i23r97vpl35lrm47tl</string>
	<key>API_KEY</key>
	<string>AIzaSyBJdu5KyY0HSwz0cZ4iHb0vdNW4atAgAX0</string>
	<key>GCM_SENDER_ID</key>
	<string>61702134116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dinnerpeople.Chat.app</string>
	<key>PROJECT_ID</key>
	<string>dinnerpeople-d43d2</string>
	<key>STORAGE_BUCKET</key>
	<string>dinnerpeople-d43d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61702134116:ios:13c9d40913e38e41b38271</string>
</dict>
</plist>